<h1> <%= @cocktail.name %> </h1>


<%= cl_image_tag @cocktail.image.key, height: 300, width: 400, crop: :fill %>



  <% @cocktail.doses.each do |dose| %>
  <p> <%= dose.ingredient.name %> : 
  	  <%= dose.description %> </p>
  	  <%= link_to "Remove",
                  cocktail_dose_path(dose),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>

  <% end %>

<%= link_to "Remove",
                  cocktail_path(@cocktail),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
<%= link_to 'edit recipe' , new_cocktail_dose_path(@cocktail) %>
<%= link_to 'Back' , cocktails_path %>
r